html
  head
    include /_head
    // link(rel="stylesheet", href="/score-new.css")
    style(type="text/css").
      .uk-tab>.uk-active>a {
        border-bottom: 2px solid #666;
      }
      .uk-tab>*>a {
        padding: 9px 20px;
      }

  body
    include /_header
    div.uk-container.uk-container-large
      div(uk-grid).uk-grid-large
        div.uk-width-1-4.uk-text-center
          img(src=`/account/icon/${page_user._id}`,style="width: 80%;margin: 20% 10% 10%;")
          div(style="font-size: 18pt;")= page_user.username
          div= `ID: ${page_user.id}`
        div.uk-width-3-4.uk-padding
          ul(uk-tab="").uk-tab.uk-margin
            li.uk-active
              a(href="#") Scores
            li
              a(href="#") Stars
          ul.uk-switcher.uk-margin
            li
              table.uk-table.uk-table-divider.uk-table-hover
                thead
                  tr
                    th 曲名
                    th アーティスト
                    th デザイナー
                    th 難易度
                    th レベル
                tfoot
                  tr
                    th 曲名
                    th アーティスト
                    th デザイナー
                    th 難易度
                    th レベル
                tbody
                  each score in page_user.scores
                    tr
                      td
                        a(href=`/score/${score.score_id}`)= score.TITLE
                      td= score.ARTIST
                      td= score.DESIGNER
                      td(style=`background: ${score.DIFFICULTY.BACKGROUND};color: ${score.DIFFICULTY.COLOR};font-weight: 400;`)= score.DIFFICULTY.TEXT
                      td= score.DIFFICULTY.LEVEL === 4 ? score.DIFFICULTY.MARK || '' : score.PLAYLEVEL.TEXT || ''
                      td
                        a(href=`/user/${score.user_id}`)= score.username
                     
            li
              each star in page_user.star
                p= score

    include /_footer
